__pycache__/
.env
*.pyc
.idea/
src/.env
*.env
.venv
.DS_Store

# Git
.git
.gitignore

# Python cache
*.py[cod]
*.pyo

# Virtual env
venv/
env/

# IDE
.vscode/

# Docker
.dockerignore
Dockerfile

# Env vars

# Logs
*.log